*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

html{
    background-color: #061C33;
    padding: 0;
    margin: 0;
    height: 100%;
}

p{
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90%;
}

/*---------Video--------------*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    max-height: 100%;
  }

/*--------Container-----------*/
#container{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*---------Header-------------*/
#header{
    padding-left: 5%;
    display: block;
    height: 10%;

}

#logo{
    margin-top: 2%;
    height: 120%;
}

/*-----------main-------------*/
#main{
    padding-top: 5vh;
    display: block;
    height: 70%;
  
    text-align: center;
    display: flex;
    justify-content: center;
}

#girl{
    display: inline-block;
    width: 35%;
    height: 50vh;

}


#text{
    padding-top: 5%;
    padding-left: 2% ;
    padding-right: 2% ; 
    display: inline-block;
    width: 60%;
    height: 50vh;
    
    align-items: center;
}

h1{
    margin: 0;
    font-size: 195%;
    text-align: left;
    margin-bottom: 5%;
}

p{
    margin-top: 0;
    font-size: 150%;
    text-align: left;
}

#btn{
    color:white;
    width: 60%;
    height: 6vh;
    background-color: rgb(41, 124, 171);
    border: none;
    border-radius: 20px;
    margin-top: 5%;
    font-size: 125%;
    float: left;
}


/*----------------------Footer---------------*/
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    position: fixed;
    display: block;
    height: 20%;

    text-align: center;
}


#foot0{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 30%;

}

#f{
    margin-right: 2%;
}

#in{
    margin-left: 2%;
}

#foot1, #foot3{
    justify-content: center;
    display: inline-block;
    width: 20%;
    height: 10%;
    margin-left: 0%;
    
}

#foot2{
    justify-content: center;
    display: inline-block;
    width: 25%;
    height: 50%;
    margin-left: 0%;
    
}

#foot3{
    margin-bottom: 2%;
}

h3{
    margin-bottom: 0%;
    margin-top: 0%;
    display: inline-block;
}


/*-----------------MODAL-----------------*/
/*modal styles*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background: #0b1a35;
    margin: auto;
    padding: 2%;  
    border-radius: 10%;
    width: 80%;
    height: 70%;
    color: white;
  }

  #namemodal{
    display: inline ;
    font-size: 150%;
    text-align: center;
  }

  span{
    float: right;
    display: inline ;
  }

  #allModallElements{
    max-height: 50%;
    width: 100%;
  }
  #allContactItems{
    justify-content: center;
    display: inline-block;
    width: 40%;
  }

   #modaldiv{
    float: right;
    justify-content: center;
    display: inline-block;
    width:40%;
  }

    #textmodal{
        background: none;
        border-radius: 5%;
        width: 100%;
        height: 20vh;
        font-size: 120%;
        border: rgb(104, 104, 104) solid 2px;
        color: white;
  }
  
  #name, #phonemodal, #mailmodal{

      background: none;
      border-radius: 5px;
      height: 40%;
      font-size: 110%;
      width: 100%;
      border: rgb(104, 104, 104) solid 2px;
      color: white;
  } 
  label{
      font-size: 130%;
  }


  #modalbutton{
    margin-left: 30%;
    margin-right: auto;
    margin-top: 5%;
    color: white;
    width: 40%;
    height: 15%;
    background: #298EA7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 30px;
  }
  
  /* The Close Button */
  .close, .closemodal {
    color: #00a6cb;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus,
  .closemodal:hover,
  .closemodal:focus {
    color: rgb(0, 48, 110);
    text-decoration: none;
    cursor: pointer;
  }


@media only screen and (max-width:805px){
   
 
    .modal-content{
        padding-top: 2%;
        width: 100%;
        height: 100%;
    }

    label{
        font-size: 110%;
    } 

    #namemodal{
        font-size: 125%;
        margin-bottom: 1%;
    }

    #modaldiv, allContactItems{
        float: none;
        width: 80%;
        justify-content: center;
    }

    #modalbutton{
        margin-top: 1%;
        margin-bottom: none;
    }

    #phonediv, #namediv, #maildiv{
        height: 10%;
    }

    #footer{
        height: 20%;
    }
    
    #main{
        height: 50%;
    }

    #text{
        width: 70%;
    }
    
    p{
        width: 100%;
        font-size: 120%;
    }

    #foot2{
        width: 45%;
    }

    #foot3, #foot4{
        width: 25%;
    }

    h3{
        font-size: 100%;
    }

    #btn{
        margin-top: 2%;
    }

}

@media only screen and (max-width:582px) {
    
    .modal-content{
        padding-top: none;
    }

    #namemodal{
        margin-top: 0%;
        margin-bottom: 1%;
    }

    #allModalElements{
        width: 90%;
        justify-items: center;
    }
    #allContactItems{
        width: 80%;
        height: 20%;
    }

    #modalbutton{
        height: 5%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 120%;
    }

   #modaldiv{
       width: 80%;
   }


    /*----------------END OF MODAL STYLES=----------------*/
    #main{
        
        height: 50%;
        padding: 0;
 
   }

   #girl
   {
       margin-left: 2%;
       width: 35%;
       height: 70%;
       margin-top: 0%;
       margin-left: -10%;
   }

   #text{
       padding: 0;
       width: 65%;
       padding-left: 5%;
       padding-top: 5%;
       padding-right: 2%;
   }

    h1{
        display: inline-block;
        margin: 0;
        font-size: 100%;
        width: 100%;
    }
    
    p{
        margin-top: 15%;
        font-size: 100%;
        width: 100%;
        line-height: 120%;
    }

    #btn{
        width: 100%;
        margin-top: 20%;
        font-size: 90%;
    }   q
    
    h3{
        font-size: 90%;
    }

    #footer{
        height: 30%;
    }

     #foot1, #foot2, #foot3{
        height: 5%;
        width: 100%;
        margin-top: 2%;
    }

    #foot0{
        height: 10%;
        width: 100%;
    }

    #f{
        width: 3%;
    }

    #in, #phone, #mail, #loc{
        width: 5%;
    }
}

@media only screen and (max-width:485px) {
   
   #namemodal{
       font-size: 98%;
   }

   #myModal{
       padding-top: 25%;
   }

    .modal-content{
       width: 100%;
       height: 100%;
   }

   #allModalElements, #allModalItems{
       width: 100%;
   }

   #modaldiv, #namediv, #phonediv, #maildiv{
       width: 100%;
   }

   #modaldiv{
    height: 35%;
   }

   #modalbutton{
       margin-top: -1%;
       width: 100%;
   }

   label{
       font-size: 90%;
   }

    #main{
        height: 65%;
    }
    
    #girl{
        display: none;
    }

    #text{
        padding-top: 10%;
        width: 100%;
    }

    h1{
        font-size: 110%;
        margin-bottom: 7%;
        
    }
    p{
        font-size: 105%;
        margin-top: 5%;
        
    }

    #btn{
        margin-top: 10%;
        width: 70%;
    }

    #f{
        margin-right: 7%;
    }

    #in{
        margin-left: 7%;
    }

    #footer{
        height: 25%;
    }

    #foot0{
        width: 40%;
    }

    #foot2{
        width: 90%;
    }

    #foot1, #foot2, #foot3{
        margin-top: 1%;
    }

    h3{
        font-size: 90%;
    }

    #f{
        width: 7%;
    }

    #in{
        width: 12%;
    }

    #phone, #mail, #loc{
        width: 5%;
    }
}

@media only screen and (max-width:360px) {
    #logo{
        height: 130%;
    }

    #myModal{
        padding-top: 10%;
    }
    
    #main{
        height: 65%;
    }

    #text{
        padding: 0%;
        padding-left: 0%;
        padding-top: 10%;
        padding-right: 0%;
        width: 100%;
    }

    h1{
        font-size: 110%;
        margin-bottom: 5%;
        width: 100%;
    }
     p{
        margin-top: 3%;
        font-size: 90%;
        width: 100%;
    }

    #btn{
        width: 85%;
        font-size: 100%;
        margin-top: 2%;
    }

    h3{
        font-size: 80%;
    }

    #foot2{
        width: 100%;
    }

    #f{
        width: 10%;
    }

    #in{
        width: 17%;
    }

    #phone, #mail, #loc{
        width: 7%;
    }

    #footer{
        height: 25%;
    }
}
    @media only screen and (max-width: 205px){
        body, html{
            width: 120%;}

        #header{
            height: 7%;
        }

        #main{
            padding: 2%;
            height: 50%;}

        h1,p{
            font-size: 120%;
        }

        #text{
            height: 100%;
        }

        #footer{
            height: 40%;
        }   
        h3{
            font-size: 100%;
        }

        #foot3{
            margin-top: 10%;
        }
    }

